body, html {
    margin: 0;
    padding: 0;
}

.title {
    position: fixed;
    top: 4;
    left:0;
    color: #f1f1f1;
    width: 100%;
}

.mainlogo {
    font-size: 3.5rem;
    margin-top: 5%;
    
}

.home-content {
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(0, 56, 118, 0.5);
    color: #f1f1f1;
    width: 100vw;
    margin: 0;
    padding: 0;
    padding-bottom: 4%;
    padding-top: 1%;

}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}