{% extends "main/header.html" %}
{% load static %}

{% block content %}
    <video autoplay muted loop id="myVideo">
        <source src="{% static 'main/creed.mp4' %}" type="video/mp4">
    </video>
    <h1>Need a gym buddy?</h1>
    <p class="lead">We can help. Sign up today, and get paired with the workout partner of your dreams. <br> #StrongerTogether</p>
{% endblock %}

{% block pageHeader %} 
<link rel="stylesheet" href="{% static 'main/home.css' %}" type=text/css>
{% endblock pageHeader %}