{% extends "main/header.html" %}
{% load static %}

{% block content %}
    <video autoplay muted loop id="myVideo">
        <source src="{% static 'main/runmontage.mp4' %}" type="video/mp4">
    </video>
    <div class="home-content">
        <h1>Need a gym buddy?</h1>
        <p class="lead">Liftr can help. Sign up and get matched with the workout partner of your dreams. <br> #StrongerTogether</p>
    </div>
    {% endblock %}

{% block pageHeader %} 
<link rel="stylesheet" href="{% static 'main/home.css' %}" type=text/css>
{% endblock pageHeader %}