{% extends "main/base.html" %} 
{% load static %}
{% block pageHeader %} 
<title>GymBuddy | Home</title>
{% endblock pageHeader %}

{% block content %}
{% include "main/navbar.html" %}
<h1>What are you training today?</h1>
<p class="lead">GymBuddy is a matchmaking site for gym-goers, dedicated to increasing collaboration in the gym 
    and helping users achieve their fitness goals. 
    This project was created by Eric Newcomer, and was built using Django, Javascript, 
    and PostgreSQL.</p>
{% endblock %}
