{% extends "main/base.html" %} {% load static %} 

{% block pageHeader %}
<link rel="stylesheet" href="{% static 'main/landing.css' %}" type=text/css>
<title>GymBuddy</title> 
{% endblock pageHeader %}

{% block content %}
{% include "main/navbar.html" %}
<video autoplay muted loop id="myVideo">
    <source src="{% static 'main/runmontage.mp4' %}" type="video/mp4">
</video>
<div class="title">
    <h1 class="mainlogo">GymBuddy</h1>
</div>
<div class="home-content">
    <h1>What are you training today?</h1>
    <a class="btn btn-outline-success my-2 my-sm-0" href="/friends/">Find a GymBuddy</a>
    <a class="btn btn-outline-success my-2 my-sm-0" href="/workout/">Go Workout</a>

</div>
{% endblock %}