{% extends "main/base.html" %} {% block content %} {% load static %} {% include "main/navbar.html" %}
<div class="jumbotron">
    <div class="main-jumbo">
        <div class="row">
            <div class="col-md-4">
                {% if user.profile.image.url != '' %}
                <img class="img-responsive" src="{{ user.profile.image.url }}" width="100%">
                {% else %}
                <img class="img-responsive" src="https://avatars3.githubusercontent.com/u/5199552?s=88&v=4" width="100%">
                {% endif %}
                <div class="main-info">
                    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                    <p>@{{user.username}}</p>
                    <p>Favorite Gym Activity:
                        <strong>{{ user.profile.activity1 }}</strong>
                    </p>
                    {% if user.profile.activity2 %}
                    <p>Second Favorite Activity:
                        <strong>{{ user.profile.activity2 }}</strong>
                    </p>
                    {% endif %}
                    <p>{{ user.profile.bio }}</p>
                    <a class="btn btn-liftr" style="width: 100%;" href="/profile_edit/">Edit Profile</a>
                </div>
                <hr>
                <div class="main-info">
                    <p>
                        <i class="fas fa-map-marker-alt"></i> {{ user.profile.location }}</p>
                    <a href="{{ user.profile.website }}" target="_blank">{{ user.profile.website }}</a>
                </div>
            </div>
            <div class="col-md-8">
                <div class="body-info" style="margin-left: 5%;">
                    <div class="navbar navbar-expand-md">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="">Workout Log
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">Friends</a>
                            </li>
                        </ul>
                    </div>
                    <hr>
                    <p>Eric trained upper body at Energy Health Club.</p>
                    <p>Tuesday, 6:30am</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}