{% extends "main/base.html" %} {% block content %} {% load static %} {% include "main/navbar.html" %}
<div class="jumbotron">
    <div class="main-jumbo">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="https://avatars0.githubusercontent.com/u/20120289?s=460&v=4">
                <div class="main-info">
                    <h2>Eric Newcomer</h2>
                    <p>@ericnewcomer</p>
                    <p>Favorite Gym Activity:
                        <strong>Powerlifting</strong>
                    </p>
                    <p>This is going to be where the bio is of the person/profile and where all the info is blah blah blah.
                    </p>
                </div>
                <hr>
                <div class="main-info">
                    <p>
                        <i class="fas fa-map-marker-alt"></i> Bellingham, WA</p>
                    <p>www.somelink.com</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">Basic card</div>
                    <p>Some textlknasdgna'lnb</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}