{% extends "main/base.html" %} {% block content %} {% load static %} {% include "main/navbar.html" %}
<div class="jumbotron">
    <div class="main-jumbo">
        <div class="row">
            <div class="col-md-4">
                <img class="img-fluid" src="https://avatars0.githubusercontent.com/u/20120289?s=460&v=4">
                <div class="main-info">
                    <h2>Eric Newcomer</h2>
                    <p>@ericnewcomer</p>
                    <p>Favorite Gym Activity:
                        <strong>Powerlifting</strong>
                    </p>
                    <p>This is going to be where the bio is of the person/profile and where all the info is blah blah blah.
                    </p>
                    <button class="btn btn-liftr" style="width: 100%;">Edit Profile</button>
                </div>
                <hr>
                <div class="main-info">
                    <p>
                        <i class="fas fa-map-marker-alt"></i> Bellingham, WA</p>
                    <p>www.somelink.com</p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="main-info" style="margin-left: 5%;">
                    <h4>Activity Log</h4>
                    <hr>
                    <p>Eric trained upper body at Energy Health Club.</p>
                    <p>Tuesday, 6:30am</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}