{% extends "main/base.html" %} {% block content %} {% load static %} {% include "main/navbar.html" %}
<div class="jumbotron">
    <div class="main-jumbo">
        <h2>Edit Profile</h2>
        <br>
        <form method="POST" action="/profile_edit/" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="col-md-12">
                {% for field in user_form %}
                <p>
                    {{ field.help_text }}
                    <br> {{ field }} {% endfor %}
                </p>
                {% for field in profile_form %}
                <p>
                    {% if field == profile_form.image %}
                    Profile Picture:
                    <br>
                    {{ profile_form.image }}
                    {% else %}
                    {{ field.help_text }}
                    <br> {{ field }} 
                    {% endif %}
                    {% endfor %}
                </p>
            </div>
            <button type="submit">Save
            </button>
        </form>
    </div>
</div>
{% endblock %}