{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{% static 'main/flex.png' %}">

    <title>Sign up for GymBuddy</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'main/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'main/signinup.css' %}" rel="stylesheet">
</head>

<body class="text-center">
    <form class="form form-signup" method="POST">
        <img class="mb-4" src="{% static 'main/flex.png' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Sign up for GymBuddy</h1>
        <br>
        {% csrf_token %} 
        {% for field in signup_form %}
        <p>
            {{ field.label_tag }}
            <br> 
            {{ field }}
            <br>
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        </p>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
        <br>
        <p>Already have an account? Log in
            <a href='/login/'>here.</a>
        </p>
        <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
    </form>
</body>

</html>