{% extends "main/base.html" %} {% block content %} {% load static %} {% include "main/navbar.html" %}
<div class="jumbotron container-fluid">
    <h2>Start a workout</h2>
    <br>
    <form method="POST" action="/workout/">
        {% csrf_token %}
        <div class="col-md-12">
            {% for field in form %}
            <p>
                {{ field.help_text }} {% if not field.help_text %}
                <label>When?</label>
                {% endif %}
                <br> {{ field }} {% endfor %}
            </p>
        </div>
        <button type="submit">Go!
        </button>
    </form>

</div>
{% endblock %}